    *,
    *:before,
    *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }
    
    body {
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .amorim {
        background-image: url('img/Artboard_10_copy_2_b.png');
    }
    
    .andreia {
        background-image: url('img/Grupo_de_m_scara_4_cv_pattern.png');
    }
    
    .anne {
        background-image: url('img/Prancheta\ 10.png');
    }
    
    .topnav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row!important;
        overflow: hidden;
        color: #1E1A34;
        background-color: rgba(255, 255, 255, 0.32);
    }
    
    .topnav a,
    .topnav img {
        font-weight: 600;
        float: left;
        display: block;
        color: #1E1A34;
        text-align: center;
        padding: 0 0.8rem;
        text-decoration: none;
        font-size: 2rem;
    }
    
    .topnav img {
        padding: 1rem 0;
        width: 100%;
    }
    
    .topnav div a {
        padding: 15px 5px;
    }
    
    .topnav div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    
    .hover-topbar:hover {
        padding: 1rem 0.8rem;
        border-radius: 20px 20px 20px 0;
        background-color: #1E1A34;
        color: #FFFFFF;
    }
    
    .topnav .icon {
        display: none;
        color: #1E1A34;
    }
    
    .imagens img {
        width: 100%;
        padding: 0;
    }
    
    .blank {
        height: 100vh;
        width: 100%;
    }
    
    .main {
        max-width: 90%;
        margin: 0 auto;
    }
    
    section {
        background-color: #FFFFFF;
        padding: 1rem 0 0 0;
    }
    
    aside h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
    }
    
    article header p {
        font-size: 0.8rem;
        color: #ccc;
        margin-top: 0;
        font-weight: 200;
    }
    
    aside article {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }
    
    aside article p {
        align-self: flex-start;
        font-weight: 600;
        font-size: 1.2rem;
    }
    
    aside article p:last-child {
        font-weight: 300;
        margin: 0;
    }
    
    aside article p:last-child span {
        font-weight: 600;
        font-style: italic;
    }
    
    aside article img {
        max-width: 350px;
    }
    
    .amorim .imagens,
    .andreia .imagens {
        display: block;
        font-size: 0;
    }
    
    .anne .imagens {
        display: block;
        font-size: initial;
    }
    
    .imagens p {
        font-size: 1.2rem;
        text-align: center;
    }
    
    .nav-job {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 1rem 0;
    }
    
    .nav-job a {
        text-decoration: none;
        color: #1E1A34;
    }
    
    .back-next {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding: 0 0 5% 0;
    }
    
    .relatos-passo {
        padding: 1rem 0 3rem 0;
        text-align: center;
    }
    
    .relatos-passo h3 {
        margin: 0;
        text-align: center;
    }
    
    .footer-relatos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    .footer-relatos h3 {
        font-weight: 300;
    }
    
    .footer-relatos img {
        max-width: 15px!important;
        padding: 0.5rem;
        width: initial;
    }
    
    .footer-relatos a {
        text-decoration: none;
        color: #1E1A34;
    }
    
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        flex-direction: column;
        background-image: linear-gradient(#58AAB6, #6DC98E);
    }
    
    footer div {
        flex-direction: row;
    }
    
    footer p {
        color: #1E1A34;
        margin: 0;
        padding-top: 0.5rem;
        font-weight: 200;
    }
    
    footer a {
        padding: 0 0.5rem;
        text-decoration: none;
        color: #1E1A34;
    }
    /*Media Query*/
    
    @media screen and (max-width: 727px) {
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
        }
    }
    
    @media screen and (max-width: 727px) {
        .amorim,
        .andreia {
            background-size: contain;
            background-repeat: no-repeat;
        }
        .main.responsive {
            display: none;
        }
        .topnav {
            background-color: rgba(255, 255, 255, 0);
        }
        .topnav.responsive {
            height: 100vh;
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 10px;
            top: 35px;
        }
        .topnav.responsive a {
            float: none;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 1rem 1rem 2rem 1rem;
            font-size: 2rem;
        }
        .hover-topbar:hover {
            background-color: #FFFFFF;
            color: #1E1A34;
        }
        .logo {
            width: 100px!important;
            height: 80px;
            opacity: 0;
        }
        .topnav.responsive .logo {
            opacity: 1;
        }
        .topnav.responsive {
            display: block;
            overflow: hidden;
            color: #1E1A34;
            background-color: #FFFFFF;
        }
        .logo-main {
            display: none;
        }
        .blank {
            height: 13vh;
        }
        .relatos-passo {
            font-size: 1rem;
        }
        .footer-relatos {
            flex-direction: row;
        }
        .titulo-trabalhamos {
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 250px;
            padding: 0.5rem;
        }
        #voltarTopo{
            display: none;
        }
    }
    
    @media screen and (min-width: 728px) {
        aside {
            display: flex;
            flex-flow: column;
        }
        aside div:nth-child(2) {
            display: flex;
            flex-flow: row-reverse;
            justify-content: space-between;
        }
        aside article {
            display: flex;
            flex: 0 0 40%;
        }
        aside article {
            display: flex;
            flex: 0 0 40%;
        }
        .descricao {
            width: 42%;
        }
    }